<br>
<div style="border: solid 1px black;text-align:center;">

<h2>About this application</h2>
<p>This is an application that allows you to Create, Read, Update and Delete the products, categories and sales records.</p>
<p>This application features:</p>
<ul style="list-style-type:none;">
	<li>Login and Logout Funtionality</li>
	<li>Database Connectivity</li>
	<li>CRUD Operations</li>
	<li>Functional Search Bar</li>
	<li>Sales Record</li>

</ul>

</div>